
        *{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

        h1,a{font-weight: 700;
           color: rgb(228, 29, 168);
            text-align: center; } 

        p, ul{text-decoration: underline;} 

        p{color: rgb(45, 3, 85);
            font-style:oblique;
            font-weight: 500;}

        ul{font-weight: 700; 
            color: rgb(189, 73, 212);}

        .fondo{background-color: rgb(226, 209, 243);}
        .centro{text-align: center;}
        .logo{text-align: center;}
    